{include file="common/head" /}
<!-- END 头部结束 -->


    <div class="wrap">

        <div class="container w1140 mt-70">
            <div class="page-column__title">
                <div class="etitle fs36">{$list.0.en_name??''}</div>
                <i class="line"></i>
                {if condition="$language == 'cn'"}
                    <div class="ctitle fs24">{$list.0.name??''}</div>
                {/if}
            </div>

            <div class="company-intro__full mt-30">
                <div class="item-cont">
                    <div class="item-small__pic item-pic wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <img class="lazyload" src="__CDN__/assets/img/images/grey.gif" data-original="__CDN__/assets/img/images/COMPANY-001.jpg" alt="">
                    </div>
                    <div class="item-text sec-txt wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">

                        {if condition="$language == 'cn'"}
                            {$list.0.content}
                        {else /}
                            {$list.0.en_content}   
                        {/if}

                    </div>
                </div>

                <div class="item-larze__pic item-pic wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <img class="lazyload" src="{$list.0.image??''}" data-original="{$list.0.image??''}">
                </div>
            </div>


            

            <div class="company-founder__full mt-100">
                <div class="item-pic wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <img class="lazyload" src="{$list.1.image??''}" data-original="{$list.1.image??''}">
                </div>
                <div class="item-cont wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="page-column__title">
                        <div class="etitle fs36">{$list.1.en_name??''}</div>
                        <i class="line"></i>
                        {if condition="$language == 'cn'"}
                            <div class="ctitle fs24">{$list.0.name??''}</div>
                        {/if}
                    </div>
                    {if condition="$language == 'cn'"}
                        <div class="item-caption fs24 mt-60">{$list.1.keywords??''}</div>
                    {else /}
                        <div class="item-caption fs24 mt-60">{$list.1.en_keywords??''}</div>
                    {/if}
                    
                    <div class="item-text sec-txt mt-30">
                        {if condition="$language == 'cn'"}
                            {$list.1.content}
                        {else /}
                            {$list.1.en_content}   
                        {/if}

                    </div>
                </div>
            </div>

            <div class="company-culture__full mt-150">
         
                <div class="page-column__title">
                    <div class="etitle fs36">{$list.2.en_name??''}</div>
                    <i class="line"></i>
                    {if condition="$language == 'cn'"}
                        <div class="ctitle fs24">{$list.2.name??''}</div>
                    {/if}
                </div>
                <div class="company-culture__list mt-80">
                    <ul class="list list-2">
                        {assign name="num" value="0.1" /}
                        {foreach $culture as $k=>$v}

                            <li class="wow fadeInUp" data-wow-delay="{$num+(0.2 * $k)}s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                <div class="item-box">
                                    <div class="item-hint fs24">{$v.title}</div>
                                    <div class="item-caption sec-txt">
                                        {$v.description}
                                    </div>
                                    <div class="item-txt sec-txt">
                                        {$v.content}

                                    </div>
                                </div>
                            </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="company-partner__full mt-60">
       
                <div class="page-column__title">
                    <div class="etitle fs36">{$list.3.en_name??''}</div>
                    <i class="line"></i>
                    {if condition="$language == 'cn'"}
                        <div class="ctitle fs24">{$list.2.name??''}</div>
                    {/if}
                </div>
                <div class="company-partner__list mt-60">
                    <ul>
                        {foreach $partners_list as $k=>$v}
                            <li>
                                <div class="item-pic">
                                    <img class="lazyload" src="{$v.image}" data-original="{$v.image}">
                                </div>
                            </li>
                        {/foreach}
                       
                       
                        
                    </ul>
                </div>
            </div>

            <div class="mt-80"></div>
        </div>





        <!-- START 底部开始 -->
        {include file="common/foot" /}

       
        <!-- END 底部结束 -->
    </div>
    {include file="common/script" /}
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            spaceBetween: 30,
            loop: true,
            autoplay: 4000, //可选选项，自动滑动
        });
    </script>
    <script type="text/javascript">
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animated',
            offset: 0,
            mobile: true,
            live: true
        });
        wow.init();
    </script>

</body>

</html>